<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Application Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>
    <ion-range justify="space-between" min="0" max="100" step="1" value="50">Range Value: </ion-range>
  </ion-item>

  <ion-item>
    <ion-checkbox>CheckBox 1</ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-checkbox>CheckBox 2</ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-checkbox>CheckBox 3</ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-toggle justify="space-between">Option 1</ion-toggle>
  </ion-item>

  <ion-item>
    <ion-toggle justify="space-between">Option 2</ion-toggle>
  </ion-item>

  <ion-item>
    <ion-toggle justify="space-between">Option 3</ion-toggle>
  </ion-item>

  <ion-list>
    <ion-radio-group value="space-between">
      <ion-item>
        <ion-radio value="space-between" justify="space-between" alignment="left">Radio Option 1</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="space-between" justify="space-between" alignment="left">Radio Option 2</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button expand="block">RESET ALL SETTINGS</ion-button>

</ion-content>
